{% extends "::base.html.twig" %}

{% block title %}PatrykBookBundle:Reflection:index{% endblock %}

{% block body %}
<div class="row">
  <a href="/reflection/new" class="btn">Utwórz nową refleksję</a>
</div>

{% for reflection in reflections  %}
<div class="row">
  <div class="col s12">
    <h1>{{ reflection.title }}</h1>
    <p>{{ reflection.body }}</p>
    <hr/>
  </div>
</div>
{% endfor %}
{% endblock %}
